.a-dialog__wrapper {
  @apply fixed top-0 right-0 bottom-0 left-0 overflow-auto;
  @apply bg-dark-50 bg-opacity-25 z-2000;
}

.a-dialog {
  @apply bg-white rounded-lg mx-auto z-2001;
  @apply w-min-3;
}

.a-dialog__header {
  @apply relative  p-20px;
}

.a-dialog__title {
  @apply text-size-16px;
}

.a-dialog__close {
  @apply absolute top-20px right-20px;
  @apply bg-transparent border-transparent cursor-pointer;
  @apply text-gray-500;
}

.a-dialog__body {
  @apply p-x-30px p-y-20px;
}

.a-dialog__footer {
  @apply p-20px pt-0 text-right;
}

.dialog-fade-enter-active,
.dialog-fade-leave-active {
  @apply transition duration-200 ease-in-out;
}

.dialog-fade-enter-from,
.dialog-fade-leave-to {
  @apply opacity-0;
}
