:root {
  --a-primary: #4f46e5;
  --a-success: #22c55e;
  --a-info: #3b82f6;
  --a-warning: #f97316;
  --a-danger: #ef4444;
}

.default {
  --a-primary: #4f46e5; /* colors.indigo */
  --a-success: #22c55e; /* colors.green */
  --a-info: #3b82f6; /* colors.blue */
  --a-warning: #f97316; /* colors.orange */
  --a-danger: #ef4444; /* colors.red */
}

.teal {
  --a-primary: #14b8a6;
  --a-success: #84cc16;
  --a-info: #06b6d4;
  --a-warning: #f59e0b;
  --a-danger: #f43f5e;
}

/* https://www.tailwindcss.cn/docs/customizing-colors#-8 */

* {
  font-size: 14px;
}
