:root {
  --vp-c-brand: #3b82f6;
  --vp-c-brand-light: #3b82f6;
  --vp-c-brand-dark: #3b82f6;
  --vp-button-brand-bg: #3b82f6;
  --vp-button-brand-hover-border: #3b82f6;
  --vp-button-brand-active-border: #3b82f6;
  --vp-custom-block-tip-text: #3b82f6;
}
.vp-doc h3 {
  margin-bottom: 16px;
}
